[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4/web_dynamic
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 --bind unix:2-hbnb.sock -m 007 wsgi:app
